@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('#{$file-path}');
  }
}

@mixin container($max-width: 1130px) {
  max-width: $max-width;
  padding: 0 15px;
  margin: 0 auto;
}

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;

// breakpoints without borders
@mixin b($point) {
  @if $point==desktop {
    @media (max-width: $mediaWidthLaptop) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: $mediaWidthDesktop) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: $mediaWidthTablet) {
      @content;
    }
  } @else if $point==extramobile {
    @media (max-width: $mediaWidthMobile) {
      @content;
    }
  } @else if $point==mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min-resolution: 3dppx),
      only screen and (min-resolution: 350dpi) {
      @content;
    }
  } @else {
    @media (max-width: ($point +'px')) {
      @content;
    }
  }
}

@mixin bReverse($point) {
  @if $point==desktop {
    @media (min-width: $mediaWidthLaptop) {
      @content;
    }
  } @else if $point==tablet {
    @media (min-width: $mediaWidthDesktop) {
      @content;
    }
  } @else if $point==mobile {
    @media (min-width: $mediaWidthTablet) {
      @content;
    }
  } @else if $point==extramobile {
    @media (min-width: $mediaWidthMobile) {
      @content;
    }
  } @else if $point==mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min-resolution: 3dppx),
      only screen and (min-resolution: 350dpi) {
      @content;
    }
  } @else {
    @media (min-width: ($point +'px')) {
      @content;
    }
  }
}

@mixin transparentScroll {
  &::-webkit-scrollbar {
    width: 0px; /* for vertical scrollbars */
    height: 0px; /* for horizontal scrollbars */
  }
}
